* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;

    min-height: 100vh;

    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url(./images/StockCake-Colorful.jpg);
    background-size: cover;
    background-attachment: fixed;

    justify-content: center;
    
}

.taskapp {
    border: solid 1px lightgray;
    border-radius: 20px;
    padding: 0px 15px;
    background-color: rgba(255, 255, 255, 0.7);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin: 30px auto 80px;

    width: 350px;
}

.taskapp>p{
    font-weight: bold;
}

.header {
    display: flex;
}

h1{
    color: black;
    margin-right: 10px;
}

hr {
    border-color: orange;
}

.addbar {
    padding: 10px 0px;
}

form {
    display: flex;
    justify-content: space-between;

    height: 30px;

}

form > input {
    width: 60%;

    border-radius: 10px;
    border: 1px solid lightgray;
}

form > button {
    width: 35%;

    border-radius: 10px;
    border: 1px solid lightgray;
}

.tasklist {
    padding: 0px;
}

.taskshow {
    display:flex;
    justify-content: space-between;

    padding: 0px 2%;
    margin: 15px 0px;

    border: 1px solid lightgray;
    border-radius: 10px;

    background-color: white;

    font-weight: bold;
}


.taskshow > div, .active-tg > div {
    padding: 1%;

    display: flex;
    align-items: center;

    max-width: 70%;;
}


.active-tg > div {
    font-weight: auto;
}



.taskbtn {
    display: flex;
}


.taskbtn > button {
    border-radius: 10px;
    border: 1px solid lightgray;
}

button:hover {
    box-shadow: 0 0 0 1.5px orange;
}


.finish {
    margin-right: 2%;
    color:green;
}


.delete {
    margin-left: 2%;
    color: red;
}



.active-tg{
    display:flex;
    justify-content: space-between;

    padding: 0px 2%;
    margin: 15px 0px;

    border: 1px solid rgb(95, 91, 91);
    border-radius: 10px;

    background-color: transparent;
    text-decoration: line-through;

    color: rgb(95, 91, 91);
}


button:hover, span:hover{
    cursor: pointer;
}


.edit-form {
    justify-content: flex-start;
}


.edit-form input {
    border-radius:10px 0px 0px 10px;
    border-right: none;
}


.edit-form > button {
    border-radius:0px 10px 10px 0px;
    border-left: none;
    color: black;
}


div > p {
    color: black;
}


.navbar, .footer{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;

    font-size: 20px;
    font-weight:bolder;

    display: flex;
}

.navbar>p, .footer>p{
    margin: auto 0px;
}


.footer {
    position:fixed;
    width:100%;
    bottom:0px;

    display: flex;
    justify-content: space-between;
}

.icon {
    width: 30px;
    margin-right: 10px;

    transition: transform .2s;
}


.icon:hover {
    transform: scale(1.2);
}