* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 33%;
    margin: 1% auto;
    min-width: 350px;

    background-color: #b9edd3;
    
}

#root {
    border: solid 1px lightgray;
    border-radius: 20px;
    padding: 0px 5%;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1{
    color: #39ba79;
}

hr {
    border-color: #39ba79;
}

.addbar {
    padding: 10px 0px;
}

form {
    display: flex;
    justify-content: space-between;

    height: 30px;

}

form > input {
    width: 60%;

    border-radius: 10px;
    border: 1px solid lightgray;
}

form > button {
    width: 35%;

    border-radius: 10px;
    border: 1px solid lightgray;
}

.tasklist {
    padding: 0px;
}

.taskshow {
    display:flex;
    justify-content: space-between;

    padding: 0px 2%;
    margin: 15px 0px;

    border: 1px solid lightgray;
    border-radius: 10px;

    background-color: #b9edd3;

    font-weight: bold;
}


.taskshow > div, .active-tg > div {
    padding: 1%;

    display: flex;
    align-items: center;

    max-width: 70%;;
}


.active-tg > div {
    font-weight: auto;
}



.taskbtn {
    display: flex;
}


.taskbtn > button {
    border-radius: 10px;
    border: 1px solid lightgray;
}


.finish {
    margin-right: 2%;
    color:green;
}


.delete {
    margin-left: 2%;
    color: red;
}



.active-tg{
    display:flex;
    justify-content: space-between;

    padding: 0px 2%;
    margin: 15px 0px;

    border: 1px solid lightgray;
    border-radius: 10px;

    background-color: #d1e1d9;
    text-decoration: line-through;

    color: gray;
}


button:hover, span:hover{
    cursor: pointer;
}


.edit-form {
    justify-content: flex-start;
}


.edit-form input {
    border-radius:10px 0px 0px 10px;
    border-right: none;
}


.edit-form > button {
    border-radius:0px 10px 10px 0px;
    border-left: none;
    color: black;
}


div > p {
    color: black;
}