
.bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(./images/StockCake-Colorful.jpg);
  background-size: cover;
  background-attachment: fixed;
}


.rl{
  border-radius: 10px 0px 0px 10px;
}

.rr{
  border-radius: 0px 10px 10px 0px;
}


.icon,
.icon2 {
  width: 30px;
  margin-right: 5px;
  transition: transform 0.2s;
}

.icon2 {
  margin-left: 5px;
  margin-right: 0px;
}

.icon2:hover,
.icon:hover {
  transform: scale(1.2);
}

.res-w{
  width:100%
}

.min-vh-adjust {
  min-height: calc(100vh - (100px));
}

.setheight {
  height: 50px;
}


@media (min-width: 576px) {
  .res-w {
    width: 70%;
  }
}


@media (min-width: 992px) {
  .res-w {
    width: 50%;
  }
}
